body {
	margin: 0;
	padding: 0;
}

.container {
	display: inline-block;
	width: 100%;
	min-height: calc(100vh - 100px);
}

.header {
	width: 100%;
	background-color: black;
	color: white;
	height: 100px;
}

.h1 {
	font-size: 25px;
	display: inline-block;
	line-height: 100px;

}



.header_in {
	display: inline-block;
}

nav {
	float: right;
	margin-right: 40px;
	margin-top: 40px;

}

.content {
	width: 980px;
	margin: auto;
}

.container .content {
	min-height: calc(100vh - 200px);
}

.content_img {
	float: left;
	margin-right: 10px;
}

.content_img img{
	width: 400px;
}

.content_text1, .content_text2 {
	width: 100%;
	font-size: 20px;
	margin-right: 420px;
} 

.content_text3 {
	width: 100%;
	font-size: 20px;
	clear: both;
	margin-top: 50px;
}

.footer {
	width: 100%;
	background-color: black;
	color: white;
	height: 100px;
}