<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Ursa</title>
    <link href="{% static 'Ursa_About.css' %}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="h1">About Ursa!!!</div>
		    <nav>
		        <div class="header_in"><a href="/">About</a></div>
		        <div class="header_in"><a href="/gallery">Gallery</a></div>
		    </nav>
		</div>
		<div class="content">
			<div class="content_img"><img src="{% static 'img/about_p.png'%}"></div>
			<div class="content_text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a enim non nisi consectetur luctus id quis metus. Duis vulputate molestie magna id ullamcorper. Suspendisse pulvinar eu nisl at volutpat. Nulla rutrum sed metus posuere cursus. Morbi consectetur ultricies feugiat. Donec aliquet risus vitae congue varius. Nulla facilisi. Maecenas sollicitudin, justo sit amet auctor vestibulum, purus nulla euismod purus, quis ultricies urna leo vestibulum justo. Ut ut maximus augue. Vestibulum non velit nec augue vehicula facilisis eu a nibh.</div>
			<br>
			<div class="content_text2">Pellentesque lacinia lacus at ante mattis lacinia. Curabitur eu consequat mauris. Donec sollicitudin pretium luctus. Nunc eget felis massa. Donec at gravida justo. Aliquam dignissim dolor eu ante malesuada tristique. Fusce fermentum ipsum eu suscipit dictum. Suspendisse mollis orci vel finibus condimentum. Mauris nisl purus, sodales vitae felis porttitor, posuere accumsan ex. Aenean faucibus, ligula id dapibus porttitor, diam lorem laoreet lorem, ac placerat velit sapien eu erat.</div>
			<br>
			<div class="content_text3">Quisque ex orci, suscipit at gravida eget, semper id tellus. Aliquam sed euismod neque. Sed ligula velit, mollis a sapien id, vulputate rutrum massa. Maecenas non varius erat. Nunc a maximus quam. Ut vestibulum ultrices risus, quis suscipit orci pretium sit amet. Donec egestas id felis at euismod. Duis tempus posuere leo, ut volutpat ex viverra efficitur. Donec at sem id orci scelerisque fermentum et in risus. Nam convallis, arcu quis facilisis dapibus, felis elit scelerisque mi, id pretium urna quam quis elit. Etiam gravida a quam a hendrerit.</div>
		</div>
		</div>
	<div class="footer"></div>
</body>
</html>
